#WorkHistorySection {
    border: 2px solid ; /* Define border first */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4em;
    background-color: #d74a49;
    padding: 10%;
    margin: 6%;
}
#skills{

    color: black;
    padding: 1%;
    margin: 1%;
    text-align: center;
    font-size: x-large;
}

body{
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8ba0a4;
    color: ;
    
}
#name{
    color: rgba(255, 255, 255,);
    text-align: center;
    text-shadow: px 8px 6px;
    font-family:
}
table{
    border-width: ;
     border-color: #d74a49;
     background-color: #d74a49;
     margin: 0 auto;
 }
nav{
    align-content: center;
    margin: 0 auto;
    text-align: center;
    border: 2px solid;
    background-color: #d74a49;
}
tr{
    margin: 0 auto;
    border
}
td{
    margin: 0 auto;
    border
}
#form{
    
}
footer{
    background-color: #d74a49;
    border: 2px solid;
    padding: 5%;
}