#WorkHistorySection{
    border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 4em;
    border-color: #FFB3FF;
    text-align: c;
    background-color: #FFB3FF;
}
body{
    margin: 12%;
    padding: 0%;
}
#name{
    color: rgba(255, 255, 255,);
    text-align: center;
    background: #FFB3FF;
    text-shadow: 4px 3px 4px;
}
table{
    border-width: ;
     border-color: #FFB3FF;
     background-color: #FFB3FF;
 }
td{
    padding-left: 33%;
    padding-right: 33%;
}